[submodule "commons"]
	path = commons
	url = git@github.com:spbsu-ml-community/commons.git
[submodule "server/fastxml"]
	path = server/fastxml
	url = git@github.com:solariq/fastxml.git
[submodule "expert/qt/qxmpp"]
	path = expert/qt/doSearch/src/libs/qxmpp
	url = git@github.com:qxmpp-project/qxmpp.git

