[submodule "commons"]
	path = commons
	url = git@github.com:spbsu-ml-community/commons.git
[submodule "server/fastxml"]
	path = server/fastxml
	url = git@github.com:solariq/fastxml.git
[submodule "expert/browser/markdown-writer-fx"]
	path = expert/browser/markdown-writer-fx
	url = /expert/browser/markdown-writer-fx
[submodule "expert/qt/qxmpp"]
	path = expert/qt/qxmpp
	url = /expert/qt/qxmpp
