[submodule "commons"]
	path = commons
	url = https://github.com/spbsu-ml-community/commons.git
[submodule "server/commons"]
	path = server/commons
	url = https://github.com/spbsu-ml-community/commons.git
[submodule "server/fastxml"]
	path = server/fastxml
	url = git@github.com:solariq/fastxml.git
