<div ng-controller="IndexController">
  <super-navbar>
    <super-navbar-title>Заказ</super-navbar-title>
  </super-navbar>

  <div class="padding">
    <form name="orderForm" ng-submit="orderForm.$valid && submitOrder()" novalidate>
      <div class="list">
        <label class="item item-input item-floating-label order-text-label">
          <span class="input-label">Что необходимо найти?</span>
          <input ng-model="order.text" type="text" name="text" placeholder="Что необходимо найти?" value="" required>
        </label>
        <div class="item item-checkbox">
          <label class="checkbox">
            <input ng-model="order.near" type="checkbox" name="near">
          </label>
          рядом с моими местоположением
        </div>
        <div class="item item-checkbox">
          <label class="checkbox">
            <input ng-model="order.expert" type="checkbox" name="expert">
          </label>
          привлечь эксперта по этому вопросу
        </div>
        <div class="item">
          Срочность заказа: {{getCurrentUrgencyName()}}
          <div class="range range-positive range-custom">
            <i class="icon icon-custom-34 icon-custom-turtle"></i>
            <input ng-model="order.urgency" type="range" name="urgency" min="0" max="5" step="1">
            <i class="icon icon-custom-34 icon-custom-rocket"></i>
          </div>
        </div>
      </div>
      <div class="list">
        <div class="order-price">Цена услуги: {{getTotalPrice()}} единиц</div>
        <div class="account-total">У вас на счете: {{userBalance}} единиц</div>
      </div>
      <input type="submit" class="button button-block button-positive" value="Начать поиск" />
    </form>
  </div>
</div>
