<style>
.attachment {
  display: none;
  position: absolute;
  top: 5px;
  right: 0;
  text-align: center;
  line-height: 36px;
  width: 36px;
  height: 36px;
  z-index: 9000;
}
.attachment i {
  font-size: 36px;
}

.item.item-input {
  border-bottom: 0;
}

.item-attachments {
  display: none;
  border-left: #ddd 1px solid;
  border-right: #ddd 1px solid;
  padding: 10px 15px;
}

.attachment-image {
  width: 40px;
  height: 40px;
  margin-right: 8px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;
  border-radius: 50%;
  border-width: 20px;
  border-color: #fff;
  border-style: solid;
  -webkit-transition-property: all;
  -webkit-transition-duration: 200ms;
}

.attachment-image-show {
  border-radius: 0px;
  border-width: 1px;
  border-color: #eee;
}

.attachment-image-1 {
  background-image: url(/images/speakers.jpg);
}

.attachment-image-2 {
  background-image: url(/images/tele.jpg);
}

.attachment-image-3 {
  background-image: url(/images/moto_client.jpg);
}
</style>

<div ng-controller="IndexController">
  <super-navbar>
    <super-navbar-title>Заказ</super-navbar-title>
  </super-navbar>

  <div class="padding">
    <div class="list">
      <div class="attachment"><i class="super-paperclip"></i></div>
      <label class="item item-input item-floating-label">
        <span class="input-label">&nbsp;Что необходимо найти?</span>
        <textarea ng-model="order.text" class="order-textarea" name="text" rows="1" placeholder="&nbsp;Что необходимо найти?" required></textarea>
      </label>
      <div class="item-attachments">
        <div class="attachment-image attachment-image-3"></div>
        <div class="attachment-image attachment-image-1"></div>
        <div class="attachment-image attachment-image-2"></div>
      </div>
      <div class="item item-checkbox">
        <label class="checkbox">
          <input type="checkbox" class="checkbox-near">
        </label>
        рядом с моими местоположением
      </div>
      <div class="item item-checkbox">
        <label class="checkbox">
          <input type="checkbox" class="checkbox-expert">
        </label>
        привлечь эксперта по этому вопросу
      </div>
      <div class="item">
        Срочность заказа: <span class="speed-name"></span>
        <div class="range range-positive range-custom">
          <i class="icon icon-custom-34 icon-custom-turtle"></i>
          <input class="range-speed" type="range" name="speed" min="0" max="2" step="1" value="1">
          <i class="icon icon-custom-34 icon-custom-rocket"></i>
        </div>
      </div>
    </div>
    <div class="list">
      <div class="order-price">Цена услуги: <span><b></b> единиц</span></div>
      <div class="account-total">У вас на счете: <span>1000 единиц</span></div>
    </div>
    <button class="button button-block button-positive button-start-search">Начать поиск</button>
  </div>
</div>
<script>
// Расширяющаяся textarea
$('.order-textarea').textareaAutoSize();

var speedNames = ['неважно', 'сегодня', 'срочно'];
var speedQuotes = [0, 50, 100];

var priceDefault = 100;
var priceSpeed = speedQuotes[0];
var priceExpert = 0;

function getTotalPrice() {
  return priceDefault + priceSpeed + priceExpert;
}

function defaultFormState() {
  priceDefault = 100;
  priceExpert = 0;
  var defaulRangeValue = 1;
  $('.order-textarea').val('');
  $('.checkbox-near').attr('checked', false);
  $('.checkbox-expert').attr('checked', false);
  $('.range-speed').val(defaulRangeValue);
  priceSpeed = speedQuotes[defaulRangeValue];
  $('.speed-name').text(speedNames[defaulRangeValue]);
  $('.order-price span b').text(getTotalPrice());
  $('.input-label').removeClass('has-input');
  $('.item-attachments').hide();
  $('.attachment-image').removeClass('attachment-image-show');
}

defaultFormState();

$('.range-speed').on('input', function() {
  var speed = $(this).val();
  priceSpeed = speedQuotes[speed];
  $('.speed-name').text(speedNames[speed]);
  $('.order-price span b').text(getTotalPrice());
});

$('.checkbox-expert').change(function() {
  if ($(this).is(':checked')) {
    priceExpert = 100;
  } else {
    priceExpert = 0;
  }
  $('.order-price span b').text(getTotalPrice());
});

$('.button-start-search').click(function() {
  localStorage.setItem('text', $('.order-textarea').val());
  localStorage.setItem('speed', speedNames[$('.range-speed').val()]);
  steroids.tabBar.selectTab(1);
  var modalView = new supersonic.ui.View('history#result');
  var options = {
    animate: false
  }
  supersonic.ui.modal.show(modalView, options);
  defaultFormState();
});


function checkInput() {
  var inputValue = $('.order-textarea').val().trim();
  if (inputValue != '') {
    $('.attachment').show();
  } else {
    $('.attachment').hide();
  }
};

window.setInterval("checkInput()", 300);
var showAttachments = 0;
$('.attachment').click(function() {
  $('.item-attachments').show();
  supersonic.media.camera.getFromPhotoLibrary({}).then(function(result){
    var searchText = $('.order-textarea').val().trim().toLowerCase();
    if (/колонк|kolonk/.test(searchText)) {
      if (showAttachments == 0) {
        $('.attachment-image-1').addClass('attachment-image-show');
        showAttachments = 1;
      } else if (showAttachments == 1) {
        $('.attachment-image-2').addClass('attachment-image-show');
        showAttachments = 2;
      }
    } else {
      $('.attachment-image-3').addClass('attachment-image-show');
    }
  });
});

// $('.order-textarea').focus(function() {
//   supersonic.ui.tabs.hide();
// });
//
// $('.order-textarea').blur(function() {
//   supersonic.ui.tabs.show();
// });
</script>