 <ul class="actions-list" ng-class="{active: folder.actionPanelTemplate}" ng-hide="folder.dragStatus != 0">
    <!--ng-show="folder.actionPanel.listIsActive"-->
    <li ng-show="folder.Parent==0"><i class="icon icon-add" href="#" ng-click="activateNewFolderPanel()" stop-propagation tooltip-hover><span class="tooltip">Create new subfolder</span></i></li>
    <li><i class="icon icon-shortUrl" href="#" data-clipboard-folder="true" copying-to-clipboard="Copy short url of last drag" stop-propagation tooltip-hover><span class="tooltip" ng-hide="clipboardIsBusy">Copy short url</span></i></li>
     <li ng-if="folder.CanMakeCollaborative"><i class="icon icon-collaborate" href="#" ng-click="activateCollaborationPanel()" stop-propagation tooltip-hover><span class="tooltip middle-bottom">Collaborate folder</span></i></li>
    <li><i class="icon icon-edit" href="#" ng-click="activateFolderPanel()" stop-propagation tooltip-hover><span class="tooltip right-bottom">Edit folder</span></i></li>
</ul>

<div class="panel-container" ng-include="actionPanelTemplate()"></div>

<scroll-helper type="actionsBlock"></scroll-helper>

<div class="clearfix"></div>
