<div class="overlay dialog__overlay"></div>

<div class="wrapper">
    <div class="content dialog__content get-more-folders" more-folders-dialog>
        <div ng-class="{'upgrade_tab': tab=='upgrade'}">
            <i class="close" ng-click="closeDialog()"></i>

            <div class="dialog-title">

                <ul class="tabs">
                    <li class='invite' >GET FREE FOLDERS</li>
                </ul>

                <div class="header">
                    <div>
                        <h2>Get up 20 free folders by inviting your friends!</h2>

                        <div class="description">
                            For every friend who joins Dragdis using your referral link, we'll give you both 1 folder (up to 20 folders)!<br />
                            If you need even more folders you can <a href="#" ng-click="openTab('upgrade')" prevent-click>get "Dragdis Unlimited"</a> just for $5/month.
                        </div>
                    </div>
                </div>
            </div>

            <div class="dialog-folders-meter">
                <div class="storage-bar">
                    <div class="used" ng-style="{width: referalBarWidth+'%' }">
                        <span class="small-bubble">{{foldersEarnedByRefCount}} folders</span>
                    </div>
                </div>
            </div>

            <div class="controls clearfix">
                <div>
                    <div class="short-url">
                        <h4>Share this link with friends!</h4>
                        <input type="text" readonly="readonly" ng-model="invitationUrl" select-on-click>
                    </div>
                    <button class="blueLight copy rounded" ng-class="{success: copySuccess}" data-clipboard-morefolders="true" copying-to-clipboard="{{invitationUrl}}">Copy link</button>
                </div>
            </div>
        </div>
    </div>
</div>