<div class="email_register" login>
    <div class="container">
        <div class="inner">
            <div class="header">
                <h2>Welcome back</h2>
            </div>

            <ul class="socials">
                <li>
                    <a class="facebook" value="facebook" target="_blank" ng-href="{{domain}}Account/ExternalLogin?returnUrl=%2Faccount%2FCloseWindow&currentPage=extension&provider=facebook">Login with Facebook</a>
                </li>
                <li>
                    <a class="twitter" value="twitter" target="_blank" ng-href="{{domain}}Account/ExternalLogin?returnUrl=%2Faccount%2FCloseWindow&currentPage=extension&provider=twitter">Login with Twitter</a>
                </li>
                <li>
                    <a class="google" value="google" target="_blank" ng-href="{{domain}}Account/ExternalLogin?returnUrl=%2Faccount%2FCloseWindow&currentPage=extension&provider=google">Login with Google</a>
                </li>
            </ul>

            <form class="email" ng-submit="loginUser(event)" ng-class="{disabled: isLoginInProgress}">
                <fieldset>
                    <input type="text" id="Username" name="Username" placeholder="Email address" value="" ng-model="loginForm.Username" ng-disabled="isLoginInProgress" auto-focus>
                    <input type="password" id="Password" name="Password" placeholder="Password" ng-model="loginForm.Password" ng-disabled="isLoginInProgress">
                </fieldset>

                <fieldset class="forgot_password"><a href="{{domain}}Account/PasswordRecovery" target="_blank">Forgot password?</a></fieldset>

                <fieldset ng-repeat="(key, error) in loginErrors">
                    <span style="color:red;">{{error.ErrorMessage}}</span>
                </fieldset>

                <div class="controls">
                    <button class="blue" ng-class="{loading: isLoginInProgress}">Log in</button>
                    <span class="link_to_register">Don't have an account? <a ng-href="{{domain}}" target="_blank" class="white">Create here</a></span>
                </div>
            </form>
        </div>
    </div>
</div>