<div class="notification ns-growl ns-effect-jelly ns-show" ng-if="showNotification">
	
	<div class="image"></div>
	
	<div class="description">
		<h2>{{notification.Data.title}}</h2>
		<p>{{notification.Data.description}} <a href="https://www.youtube.com/watch?v=PpKwMkyAtiU" target="_blank" ng-show="notification.Data.demoLink" ng-click="showDemo($event)">{{notification.Data.demoLink}}</a></p>
	</div>

	<div class="controls">
		<a ng-click="turnOffNotification()">Don't show me this again...</a>
		<a class="button" ng-click="hideNotification()">Got it!</a>
	</div>
    
</div>



<div class="notification onboarding ns-growl ns-effect-jelly ns-show" ng-if="showOnboardingNotification">
	
	<div class="image"></div>
	
	<div class="description">
		<h2>Drag&drop your first item</h2>
		<p>Just start dragging any image you want to keep. When sidebar pops up just drop it to a folder and you are done! <a href="https://www.youtube.com/watch?v=PpKwMkyAtiU" target="_blank" ng-click="showDemo($event)">See how</a></p>
	</div>

	<div class="controls">
		<a ng-click="turnOffNotification()">Don't show me this again...</a>
		<a class="button" ng-click="hideNotification()">Got it!</a>
	</div>
    
</div>

<div class="tooltip delay" ng-if="step == 1">
	<h3>Now just drop it to a folder.</h3>
</div>

<div class="tooltip" ng-if="step == 2">
	<h3>Drop it like it's hot.</h3>
</div>

<div class="tooltip green" ng-if="step == 3">
	<h3>Well done!</h3>
	<p>Now let's go and see how it looks on Dragdis.com</p>
	<a class="button" href="{{domain}}#/first" ng-click="finishOnboarding($event)">Let's go!</a>
</div>
