<div class="panel-container-inner">
    <div class="chatboard">
        <div class="triangle-isosceles">
            Blue text bubbleBlue text bubbleBlue text bubbleBlue text bubbleBlue text bubbleBlue text bubbleBlue text bubble
        </div>
        <div class="triangle-isosceles-alt">
            Blue text bubble
        </div>
        <div class="triangle-isosceles">
            Blue text bubble
        </div>
        <div class="triangle-isosceles">
            Blue text bubbleBlue text bubbleBlue text bubbleBlue text bubbleBlue text bubbleBlue text bubbleBlue text bubble
        </div>
        <div class="triangle-isosceles-alt">
            Blue text bubble
        </div>
        <div class="triangle-isosceles">
            Blue text bubble
        </div>
        <div class="triangle-isosceles">
            Blue text bubbleBlue text bubbleBlue text bubbleBlue text bubbleBlue text bubbleBlue text bubbleBlue text bubble
        </div>
        <div class="triangle-isosceles-alt">
            Blue text bubble
        </div>
        <div class="triangle-isosceles">
            Blue text bubble
        </div>
    </div>
    <!--<div class="container">-->


    <!--</div>-->

    <div class="clearfix"></div>
    <fieldset>
        <textarea type="text" id="chat_text" name="ChatText" wrap="soft" placeholder="Enter your text here" class="chat-input" ng-model="chatWindow.Text" auto-focus key-up key-up-esc="chatWindow.cancel()" />
    </fieldset>

    <div class="controls">
        <button class="blue rounded" ng-click="chatWindow.send()">Send</button>
        <a href="#" class="button cancel" ng-click="chatWindow.cancel()" prevent-click>Cancel</a>
        <div class="clearfix"></div>
    </div>

    <scroll-helper type="folder"></scroll-helper>
</div>