<div class="panel-container-inner">
    <fieldset>
        <label for="notes">Item notes:</label>
        <textarea id="notes" name="notes" ng-model="lastUpload.notes" ng-disabled="isSavingInProgress" auto-focus key-up key-up-enter="saveItemDetails()" key-up-esc="closePanel()"></textarea>
    </fieldset>

    <fieldset notes-editor>
        <label for="tags">Item tags:</label>

        <tags-input name="tags" ng-model="lastUpload.tempTags" placeholder="Add a tag"></tags-input>

    </fieldset>

    <div class="clearfix"></div>

    <div class="controls">
        <button class="blue rounded" ng-click="saveItemDetails()" ng-class="{loading: isSavingInProgress}">Save</button>
        <a href="#" class="button cancel" ng-click="closePanel()" prevent-click>Cancel</a>
        <button class="icon icon-delete" ng-click="deleteItem()" ng-show="folder.ID" title="Remove"></button>

        <div class="clearfix"></div>
    </div>

    <scroll-helper type="item"></scroll-helper>
</div>