<div class="panel-container-inner">
    <fieldset>
        <label for="folder_name">New folder name:</label>
        <input type="text" id="folder_name" name="Name" placeholder="New folder" ng-model="newFolder.Name" ng-disabled="isSavingInProgress" auto-focus key-up key-up-enter="newFolder.saveNewFolder()" key-up-esc="newFolder.cancelPanel()" />
    </fieldset>

    <fieldset class="icons">
        <label>Select icon:</label>

        <ul ng-class="{expanded: newFolder.showMoreIcons}">
            <li ng-repeat="icon in newFolder.icons" class="icon{{::icon}}" ng-class="{'active': icon === newFolder.Icon}" ng-click="newFolder.Icon = icon"></li>
        </ul>

        <i class="icon icon-expand dark" ng-class="{expanded: newFolder.showMoreIcons}" ng-click="newFolder.toogleIcons()" prevent-click></i>
    </fieldset>

    <div class="clearfix"></div>

    <div class="controls">
        <button class="blue rounded" ng-click="newFolder.saveNewFolder()" ng-class="{loading: newFolder.isSavingInProgress}">Save</button>
        <a href="#" class="button cancel" ng-click="newFolder.cancelPanel()" prevent-click>Cancel</a>

        <div class="clearfix"></div>
    </div>

    <scroll-helper type="folder"></scroll-helper>
</div>