<div class="overlay dialog__overlay"></div>

<div class="wrapper" show-question>
    <div class="content contentex dialog__content collaboration">

        <i class="close" ng-click="closeDialog()"></i>

        <div class="dialog-title">
            <div class="header"><h2>Запрос пользователя ({{readableTime(getLeftTime())}})</h2></div>
            <div class="description">
                {{getQuestion()}}
                <div class="space"></div>
                <div ng-if="hasImg()" class="some-help">
                    Дважды кликните по картинке, что бы перейти к поиску по изображению
                </div>
                <div crop-dialog ng-if="hasImg()" class="cropAreaEx">
                    <img src="{{getImg()}}" ng-dblclick="openCrop(getImg())" style="cursor: pointer">
                </div>

                <div ng-if="hasMap()">
                    <a ng-click="openMap()">Показать на карте</a>
                </div>
                <div class="space"></div>
                <ui-gmap-google-map center='getMap().center' zoom='getMap().zoom'></ui-gmap-google-map>
            </div>
        </div>

        <div class="controls clearfix bgwhite" ng-if="isUnconfirmed()">
            <div class="short-url">
                <div>
                    <button class="lgreen" ng-click="activateRequest(getRequest());closeDialog();">Принять</button>
                    <button class="lred" ng-click="rejectRequest(getRequest());closeDialog();">Отказаться</button>
                </div>
            </div>
        </div>

    </div>
</div>

