<!--<div class="sidebar-container first-time" scroll-preventer render-complete>-->
<div class="sidebar-container first-time" render-complete>

    <!-- MENU AND USER AVATAR -->
    <div class="menu" ng-class="{active: menu.active, overTop: blockMoveUp}">
        <!--<a class="user" ng-class="{reconnecting: isReconnecting}" toggle-menu>-->
        <a class="user" toggle-menu>
            <img avatar image="user.avatar" ng-src="{{user.avatar}}" />
            <span>{{user.username}}</span>
        </a>

        <!--<span class="icon icon-chat" ng-click="chatWindow.open()"></span>-->
        <span class="icon icon-closeSidebar" ng-click="closeSidebar()" tooltip-hover>
            <span class="tooltip repositioned right-bottom">Close sidebar</span>
        </span>



        <ul>
            <li ng-if="user.available">
                <a ng-click="user.makeUnavailable()">Перейти в offline</a>
            </li>
            <li ng-if="!user.available">
                <a ng-click="user.makeAvailable()">Перейти в online</a>
            </li>
            <!--<li><a ng-click="finishRequest()">Завершить заказ</a></li>-->
            <li ng-if="activeRequest.value"><a ng-click="activeRequest.banOwner()">Заблокировать</a></li>
            <li class="seperator"></li>
            <li><a ng-click="logout($event)">Выйти</a></li>
        </ul>
    </div>



    <span ng-include="sidebarContent()"></span>

</div>