<div class="folder-title"
     ng-class="{'hover': isHovered || isPlusHovered || folder.showActionsBlock || folder.actionPanelTemplate || folder.isActive,
     actionsBlocksActive: folder.showActionsBlock,
     'drag-upload': folder.dragStatus > 0, uploading: folder.dragStatus==1, success: folder.dragStatus >=2, movedSuccess: folder.dragStatus==3}"
     ng-switch on="0"
     dragover-group folder-droppable="{{::folder.ID}}">

    <a class="name icon{{folder.Icon}}" ng-switch-default ng-click="openFolder()" ng-href="{{::folderUrl}}" prevent-click>{{folder.Name}}</a>

    <i class="icon icon-edit white" ng-switch-when="2" ng-click="activateItemPanel()" tooltip-hover stop-propagation>
        <span class="tooltip right-bottom">Edit item</span>
    </i>
    <i class="icon icon-shortUrl white" ng-switch-when="2" copying-to-clipboard="Copy short url of last drag" tooltip-hover stop-propagation>
        <span class="tooltip right-bottom">Copy short url of last drag</span>
    </i>

</div>


</ul>

<div class="clearfix"></div>
