.supersonic-navbar-mock {
  background-color: #00B5FF !important;
  text-align: center;
  font-weight: 600;
}

.order-price {
  font-size: 16px;
  color: #999;
  text-align: center;
  margin: 10px 0;
}

.account-total {
  font-size: 14px;
  color: #999;
  text-align: center;
  margin: 10px 0;
}

.icon-custom {
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
}

.icon-custom-turtle {
  background-image: url(/icons/turtle.svg);
}

.icon-custom-rocket {
  background-image: url(/icons/rocket.svg);
}