.result {
  padding-bottom: 50px;
}

.result-chat {
  padding-bottom: 50px;
}

.result .baloon {
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 10px;
  position: relative;
  -webkit-transition-property: margin;
  -webkit-transition-duration: 1300ms;
}

.result-chat .baloon {
  box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.1);
}

.result .baloon-server {
  margin-left: 0;
  margin-right: 0;
}

.result-chat .baloon-server {
  margin-left: 10px;
  margin-right: 25%;
}

.result .baloon-server::after {
  display: none;
}

.result-chat .baloon-server::after {
  content: "";
  position: absolute;
  top: 0px;
  left: -16px;
  border-width: 22px 0 0 16px;
  border-style: solid;
  border-color: #fff transparent;
  display: block;
}

.result .baloon-client {
  margin-left: 0;
  margin-right: 0;
}

.result-chat .baloon-client {
  margin-left: 25%;
  margin-right: 10px;
}

.result .baloon-client::after {
  display: none;
}

.result-chat .baloon-client::after {
  content: "";
  position: absolute;
  top: 0px;
  right: -16px;
  border-width: 0 0 22px 16px;
  border-style: solid;
  border-color: transparent #fff;
  display: block;
}

.baloon-title {
  font-weight: bold;
  background: #fff;
  padding: 2px 10px 2px;
}

.result .baloon-server .baloon-title {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.result-chat .baloon-server .baloon-title {
  border-top-right-radius: 10px;
  border-top-left-radius: 0;
}

.result .baloon-client .baloon-title {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.result-chat .baloon-client .baloon-title {
  border-top-right-radius: 0;
  border-top-left-radius: 10px;
}

.baloon-text {
  padding: 2px 8px 5px;
}

.baloon-question {
  margin-top: 10px;
  background-color: #bbb;
  color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.baloon-question-yes {
  width: 49%;
  display: inline-block;
  text-align: center;
  line-height: 2.4;
  border-right: 1px solid #fff;
  border-bottom-left-radius: 10px;
}

.baloon-question-no {
  width: 49%;
  display: inline-block;
  text-align: center;
  line-height: 3;
  border-bottom-right-radius: 10px;
}

.result-chat .baloon-simple {
  border-top-left-radius: 0;
}

.baloon-simple .baloon-text {
  line-height: 3;
}

.baloon h1 {
  margin-top: 20px;
  font-size: 14px;
}

.baloon ul {
  text-align: left;
  margin: 10px 0px 10px 30px;
  list-style-type: disc;
}

.baloon img {
  max-width: 350px;
  display: block;
  margin: 10px auto;
}

.expert {
  min-height: 100px;
  margin: 5px -8px -5px;
  padding: 12px 8px 5px 100px;
  background-color: #DFE0E4;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 96px 96px;
}

.expert-info {
  margin-top: 5px;
}

.expert-raiting {
  margin-top: 10px;
}

.result .baloon-server .expert-picture {
  position: absolute;
  right: 6px;
  top: 6px;
  width: 45px;
  height: 45px;
  background-color: #DFE0E4;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 45px 45px;
  border-radius: 50%;
}

.result-chat .baloon-server .expert-picture {
  position: absolute;
  left: -56px;
  top: -4px;
  width: 45px;
  height: 45px;
  background-color: #DFE0E4;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 45px 45px;
  border-radius: 50%;
  z-index: 100;
}

.result-chat .baloon-server.baloon-picture {
  margin-left: 50px;
}

.result-plain .baloon.baloon-server.baloon-picture {
  padding-right: 10px;
}

.message {
  position: fixed;
  bottom: -54px;
  left: 0;
  width: 100%;
  height: 54px;
  -webkit-transition-property: bottom;
  -webkit-transition-duration: 300ms;
}