.scroll-pane {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-pane:focused {
    -fx-background-insets: 0;
}

.scroll-pane .corner {
    -fx-background-insets: 0;
}

.text-area {
    -fx-background-color: transparent;
    -fx-border-style: none;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
    -fx-border-style: none;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
    -fx-border-style: none;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0;
}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
    -fx-border-style: none;
    -fx-background-insets: 0;
    -fx-background-radius: 0;

    -fx-padding: 0;
}

.task *.text {
    -fx-text-alignment: center;
}

.outgoing {
}

.incoming {
    -fx-text-fill: white;
}

.outgoing-bubble {
    -fx-background-radius: 8px;
    -fx-background-color: white;
    -fx-padding: 5;
}

.incoming-bubble {
    -fx-background-radius: 8px;
    -fx-background-color: #1991e3;
    -fx-padding: 5;
}

.comment {
    -fx-font-size: 10px;
    -fx-text-fill: #777777;
}