<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SiriOrderHandler.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SiriOrderHandlerUI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SiriOrderUI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>Test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>unSearch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>unSearchCore.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>688A5EBB752445F69E4387AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE2481651DC71636001B9B2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE5CFED91DC37AEF00ACC991</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE5CFEE21DC37AEF00ACC991</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE5CFF001DC3DB7A00ACC991</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE5CFF081DC3DB7A00ACC991</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE5CFF601DC63EFC00ACC991</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE5CFF681DC63EFC00ACC991</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
