<div class="" ng-controller="SettingsController">
  <super-navbar>
    <super-navbar-title>История</super-navbar-title>
  </super-navbar>
</div>

<div class="list">
  <a class="item item-icon-right" href="#">
    круглосуточная аптека рядом с адресом: Москва, ул. Большая Декабрьская 10
    <span class="item-note">27 сентября 2015, 12:14</span>
    <i class="icon super-ios-arrow-right"></i>
  </a>
</div>

<script>
  var handlerId = steroids.tabBar.on('willchange', function(event) {
    var tabindex = event.target.tab.index;
    if (tabindex == 1 && localStorage.getItem('show-result-from-order-tab')) {
      var modalView = new supersonic.ui.View('example#result');
      var options = {
        animate: false
      }
      supersonic.ui.modal.show(modalView, options);
      //supersonic.ui.modal.show('example#result');
      localStorage.removeItem('show-result-from-order-tab');
    }
  });
</script>