<div class="padding">
  <super-navbar>
    <super-navbar-title>Опции</super-navbar-title>
  </super-navbar>
  <div class="list">
    <label class="item item-input item-select">
      <div class="input-label">
        Тариф
      </div>
      <select>
        <option selected>Дешево</option>
        <option>Умеренно</option>
        <option>Дорого</option>
      </select>
    </label>
    <div class="item item-icon-right">
      19 сентября 2015
      <i class="icon icon-accessory super-calendar"></i>
    </div>
    <div class="item item-toggle">
       Хочу чат
       <label class="toggle toggle-positive">
         <input type="checkbox">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
    </div>
  </div>
</div>
