<div class="padding">
  <super-navbar>
    <super-navbar-title>Заказ</super-navbar-title>
  </super-navbar>

  <div class="list">
    <label class="item item-input item-floating-label">
      <span class="input-label">Введите запрос</span>
      <input type="text" placeholder="Введите запрос">
    </label>
    <super-navigate view-id="options" class="item item-icon-right">
      Опции
      <i class="icon icon-accessory super-chevron-right"></i>
    </super-navigate>
    <div class="item item-toggle">
       Хочу чат
       <label class="toggle toggle-positive">
         <input type="checkbox">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
    </div>
    <div class="item item-checkbox">
      <label class="checkbox">
        <input type="checkbox">
      </label>
      рядом
    </div>
    <div class="item item-checkbox">
      <label class="checkbox">
        <input type="checkbox">
      </label>
      срочно
    </div>
    <div class="item item-checkbox">
      <label class="checkbox">
        <input type="checkbox">
      </label>
      эксперт
    </div>
  </div>

  <button class="button button-block button-positive">Отправить</button>
</div>
