<div folder-droppable="1" class="chatboard" id="chatboard">
    <div ng-repeat="answer in board track by $index" ng-class="getBubbleClass(answer.owner)">
        {{printableAnswer(answer)}}
    </div>
</div>
<!--<div class="container">-->


<!--</div>-->
<div style="height: 100px; display: block">
    <div class="clearfix"></div>
    <fieldset>
        <textarea type="text" id="chat_text" name="ChatText" wrap="soft" placeholder="Enter your text here" class="chat-input" ng-model="chatWindow.Text" auto-focus key-up key-up-esc="chatWindow.cancel()" />
    </fieldset>

    <div class="controls">
        <button class="blue rounded" ng-click="chatWindow.send()">Send</button>
        <div class="clearfix"></div>
    </div>
</div>
