html {
    margin: 0;
    padding: 0;
    border: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary, blockquote, q, th, td, caption, table, body, div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, tbody, tfoot, thead, tr, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

blockquote, q {
    quotes: "" "";
}
blockquote:before, q:before, blockquote:after, q:after {
    content: "";
}

th, td, caption {
    float: none !important;
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    vertical-align: middle;
}

a img {
    border: none;
}

body {
    line-height: 1.5;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: #333333;
    font-size: 87.5%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    color: #222222;
}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
    margin: 0;
}

h1 {
    font-size: 3em;
    line-height: 1;
    margin-bottom: 0.50em;
}

h2 {
    font-size: 2em;
    margin-bottom: 0.75em;
}

h3 {
    font-size: 1.5em;
    line-height: 1;
    margin-bottom: 1.00em;
}

h4 {
    font-size: 1.2em;
    line-height: 1.25;
    margin-bottom: 1.25em;
}

h5 {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1.50em;
}

h6 {
    font-size: 1em;
    font-weight: bold;
}

p {
    margin: 0 0 1.5em;
}
p .left {
    float: left;
    margin: 1.5em 1.5em 1.5em 0;
    padding: 0;
}
p .right {
    float: right;
    margin: 1.5em 0 1.5em 1.5em;
    padding: 0;
}

a {
    text-decoration: none;
    color: #06c;
}
a:visited {
    color: #004c99;
}
a:focus {
    color: #09f;
}
a:hover {
    color: #09f;
    text-decoration: underline;
}
a:active {
    color: #bf00ff;
}

blockquote {
    margin: 1.5em;
    color: #666666;
    font-style: italic;
}

strong, dfn {
    font-weight: bold;
}

em, dfn {
    font-style: italic;
}

sup, sub {
    line-height: 0;
}

abbr, acronym {
    border-bottom: 1px dotted #666666;
}

address {
    margin: 0 0 1.5em;
    font-style: italic;
}

del {
    color: #666666;
}

pre {
    margin: 1.5em 0;
    white-space: pre;
}

pre, code, tt {
    font: 1em "andale mono", "lucida console", monospace;
    line-height: 1.5;
}

li ul, li ol {
    margin: 0;
}

ul, ol {
    margin: 0 1.5em 1.5em 0;
    padding-left: 1.5em;
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

dl {
    margin: 0 0 1.5em 0;
}
dl dt {
    font-weight: bold;
}

dd {
    margin-left: 1.5em;
}

table {
    margin-bottom: 1.4em;
    width: 100%;
}

th {
    font-weight: bold;
}

thead th {
    background: #c3d9ff;
}

th, td, caption {
    padding: 4px 10px 4px 5px;
}

table.striped tr:nth-child(even) td,
table tr.even td {
    background: #e5ecf9;
}

tfoot {
    font-style: italic;
}

caption {
    background: #eeeeee;
}

.quiet {
    color: #666666;
}

.loud {
    color: #111111;
}

.clearfix {
    overflow: hidden;
    *zoom: 1;
}

.hidden {
    display: none;
}

.loader,
.loader:before,
.loader:after {
    background: #50BDF1;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
}
.loader:before,
.loader:after {
    position: absolute;
    top: 0;
    content: '';
}
.loader:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.loader {
    text-indent: -9999em;
    margin: 88px auto;
    position: relative;
    font-size: 11px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
.loader:after {
    left: 1.5em;
}
@-webkit-keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0 #50BDF1;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em #50BDF1;
        height: 5em;
    }
}
@keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0 #50BDF1;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em #50BDF1;
        height: 5em;
    }
}

.nothing-found {
    padding: 5px;
}

.nothing-found .message {
    margin: 0 auto;
    width: 450px;
    text-align: center;
}


#admin #header-wrapper {
}

#admin #header {
    background: url("/static/img/about_owl.png") 10px no-repeat transparent;
    background-size: 50px 50px;
    color: #3C3B3B;
    padding: 20px 70px;
    font-size: 14pt;
    font-weight: bold;
    border-bottom: 1px solid #eee;
}

#admin #menu {
    width: 18%;
    float: left;
}

#admin #menu .item {
    background: #475161;
    color: #E8EEF9;
    padding: 10px 20px;
    cursor: pointer;
}

#admin #menu .item:hover {
    background: #5d6b82;
}

#admin #with-sidebar {
    padding-top: 10px;
    background: #f6f5f4;
}

#admin #content {
    width: 80%;
    float: left;
    padding: 0 10px;
}

.expert-profile {
    clear: both;
}

.expert-profile, .dump .message {
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dotted #ccc;
}

.expert-profile div.expert-avatar {
    width: 40px;
    float: left;
    padding: 5px;
}

.expert-profile div.expert-details {
    margin-left: 80px;
}

.expert-profile img.expert-avatar {
    margin-right: 10px;
}

.expert-profile .expert-feature {
    width: 150px;
    font-weight: 500;
    display: inline-block;
}

.expert-profile .expert-tag {
    padding: 1px 5px 1px 5px;
    background: #0089e0;
    color: #fff;
    font-size: 90%;
    text-decoration: none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.enum-label {
    box-sizing: border-box;
    border-radius: 0.25em;
    padding: 2px 5px;
    background: #EEF3F0;
    border: 1px solid #B5B5B9;
    font-weight: 700;
}

.orders {
    background: white;
}

table.orders-table {
    border-collapse: collapse;
}

tr.order {
    border-bottom: 1px dotted #ccc;
}

.participant {
    margin-bottom: 5px;
}

th.order-status {
    width: 50px;
}

th.order-topic {
    width: 250px;
}

th.order-client {
    width: 150px;
}

th.order-experts {
    width: 200px;
}

th.order-urgency {
    width: 100px;
}

th.order-feedback {
    width: 100px;
}

.message-author {
    color: black;
    font-weight: 700;
    margin-right: 5px;
}

.message-timestamp {
    color: #999;
}

.message code {
    font-size: 90%;
}

.group-separator {
    background: aliceblue;
    font-size: 90%;
}

.offer-topic {
    max-width: 300px;
    word-break: normal;
    word-wrap: break-word;
}
